html, body {
	padding-top: 60px;
}

.error {
	color: red;
}

.error_message {
	background-color: #ffb6c1;
	margin-top: 10px;
	margin-bottom: 10px;
	height: 0;
}

.message {
	background-color: #7fffd4;
	margin-top: 10px;
	margin-bottom: 10px;
}

.row-grid {
	margin-top: 15px;
}

/*============= Projects ===========*/
.project-form label {
	padding-top: 7px;
	margin-bottom: 0px;
}

.project-container {
	background-color: #eaeaea;
	padding: 4px 3px;
}

.project-name {
	font-weight: bold;
	font-size: 130%;
	margin-left: 5px;
}

.project-jobs {
	margin-top: 20px;
}

/*============= JOBS ===========*/
.job-name {
	margin-left: 5px;
	margin-top: 20px;
	font-size: 130%;
}

.job-container {
	margin-top: 10px;
	margin-left: 10px;
}

.btn-file {
	position: relative;
	overflow: hidden;
}

.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: right;
	filter: alpha(opacity = 0);
	opacity: 0;
	outline: none;
	background: white;
	cursor: inherit;
	display: block;
}

.jobs_table_header {
	font-size: 15px;
}

.jobs_table_name {
	font-size: 15px;
}

.jobs_table_steps {
	font-size: 15px;
}

/*============= Admin nav ===========*/
.nav-sidebar {
	width: 100%;
	padding: 5px 0;
}

.nav-sidebar a {
	color: #333;
	-webkit-transition: all 0.08s linear;
	-moz-transition: all 0.08s linear;
	-o-transition: all 0.08s linear;
	transition: all 0.08s linear;
}

.nav-sidebar .active a {
	cursor: default;
	background-color: #0b56a8;
	color: #fff;
}

.nav-sidebar .active a:hover {
	background-color: #E50000;
}

.nav-sidebar .text-overflow a, .nav-sidebar .text-overflow .media-body {
	white-space: nowrap;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
}